USE [query]
GO
/****** Object:  Table [dbo].[CASEOPER]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CASEOPER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PNAME] [varchar](10) NULL,
	[IDCARD] [varchar](20) NULL,
	[LEAVEDATE] [datetime] NULL,
	[PAYAMOUNT] [numeric](18, 2) NULL,
	[SUBTRACTAMOUNT] [numeric](18, 2) NULL,
	[SUBTRACTREASON] [varchar](100) NULL,
	[TRIALER] [varchar](10) NULL,
	[TRIALDATE] [datetime] NULL,
	[REVIEWER] [varchar](10) NULL,
	[REVIEWDATE] [datetime] NULL,
	[AUDITSTATUS] [int] NULL,
	[ADState] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGN]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LGN](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](400) NOT NULL,
	[password] [nvarchar](400) NOT NULL,
	[authority_level] [int] NOT NULL,
	[last_login_time] [datetime] NULL,
 CONSTRAINT [PK__LGN__DD7012643D92874C] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB0001]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AAC001] [varchar](10) NULL,
	[AAC002] [varchar](20) NULL,
	[AAC003] [varchar](20) NULL,
	[AAC004] [varchar](20) NULL,
	[AAC006] [datetime] NULL,
	[AAE008] [varchar](2) NULL,
	[AKC021] [varchar](2) NULL,
	[AAB034] [varchar](6) NULL,
	[ExtractDate] [datetime] NULL,
	[AAC041] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0004]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0004](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[akb020] [varchar](20) NULL,
	[akc190] [varchar](20) NULL,
	[aae072] [varchar](20) NULL,
	[aka135] [varchar](2) NULL,
	[aac001] [varchar](10) NULL,
	[aka130] [varchar](2) NULL,
	[aae040] [datetime] NULL,
	[akc268] [numeric](12, 2) NULL,
	[akc269] [numeric](12, 2) NULL,
	[akc264] [numeric](12, 2) NULL,
	[akc261] [numeric](12, 2) NULL,
	[akc260] [numeric](12, 2) NULL,
	[akc283] [numeric](12, 2) NULL,
	[akc253] [numeric](12, 2) NULL,
	[akc280] [numeric](12, 2) NULL,
	[aae100] [varchar](2) NULL,
	[aae011] [varchar](20) NULL,
	[aae036] [datetime] NULL,
	[akc800] [numeric](12, 2) NULL,
	[akc801] [numeric](12, 2) NULL,
	[akc328] [varchar](2) NULL,
	[aae117] [varchar](2) NULL,
	[aae074] [varchar](20) NULL,
	[akc336] [numeric](18, 0) NULL,
	[akc333] [varchar](2) NULL,
	[akc265] [numeric](18, 2) NULL,
	[aae430] [numeric](20, 0) NULL,
	[aka129] [varchar](10) NULL,
	[aab324] [varchar](10) NULL,
	[aae090] [datetime] NULL,
	[akc259] [numeric](12, 2) NULL,
	[bkc281] [numeric](12, 2) NULL,
	[bkc282] [numeric](12, 2) NULL,
	[bkc283] [numeric](12, 2) NULL,
	[ckc281] [numeric](12, 2) NULL,
	[ckc282] [numeric](12, 2) NULL,
	[ckc283] [numeric](12, 2) NULL,
	[bkc284] [numeric](12, 2) NULL,
	[bkc285] [numeric](12, 2) NULL,
	[ckc285] [numeric](12, 2) NULL,
	[bkc286] [numeric](12, 2) NULL,
	[ExtractDate] [datetime] NULL,
	[bkc287] [numeric](20, 5) NULL,
	[AKC197] [int] NULL,
	[AKC256] [numeric](20, 5) NULL,
	[AKC305] [numeric](20, 5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0005]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0005](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[akb020] [varchar](20) NULL,
	[akb021] [varchar](100) NULL,
	[aab003] [varchar](20) NULL,
	[akb022] [varchar](2) NULL,
	[aka101] [varchar](2) NULL,
	[akb039] [varchar](2) NULL,
	[aae100] [varchar](2) NULL,
	[AAE008] [varchar](40) NULL,
	[AAE009] [varchar](50) NULL,
	[ExtractDate] [datetime] NULL,
	[AAB324] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0011]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0011](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[akb020] [varchar](20) NULL,
	[akc190] [varchar](20) NULL,
	[AKC200] [varchar](2) NULL,
	[aac001] [varchar](10) NULL,
	[aka130] [varchar](2) NULL,
	[aae040] [datetime] NULL,
	[akc268] [numeric](12, 2) NULL,
	[akc269] [numeric](12, 2) NULL,
	[akc264] [numeric](12, 2) NULL,
	[akc261] [numeric](12, 2) NULL,
	[akc260] [numeric](12, 2) NULL,
	[akc283] [numeric](12, 2) NULL,
	[akc259] [numeric](12, 2) NULL,
	[bkc281] [numeric](12, 2) NULL,
	[bkc282] [numeric](12, 2) NULL,
	[bkc283] [numeric](12, 2) NULL,
	[ckc281] [numeric](12, 2) NULL,
	[ckc282] [numeric](12, 2) NULL,
	[ckc283] [numeric](12, 2) NULL,
	[bkc284] [numeric](12, 2) NULL,
	[bkc285] [numeric](12, 2) NULL,
	[ckc285] [numeric](12, 2) NULL,
	[bkc286] [numeric](12, 2) NULL,
	[AAC002] [varchar](18) NULL,
	[AAB034] [varchar](6) NULL,
	[ExtractDate] [datetime] NULL,
	[AAC003] [varchar](20) NULL,
	[BKC287] [numeric](12, 2) NULL,
	[AKC337] [varchar](10) NULL,
	[AKC197] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0012]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0012](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AKB020] [varchar](20) NULL,
	[AKC190] [varchar](20) NULL,
	[AAC001] [varchar](14) NULL,
	[AKA130] [varchar](2) NULL,
	[AKA101] [varchar](2) NULL,
	[AKC192] [datetime] NULL,
	[AKC193] [varchar](20) NULL,
	[AKC231] [varchar](100) NULL,
	[AKC194] [datetime] NULL,
	[AKC195] [varchar](3) NULL,
	[AKC196] [varchar](20) NULL,
	[AKC232] [varchar](100) NULL,
	[AKC317] [varchar](2) NULL,
	[AKA151] [numeric](12, 2) NULL,
	[AKC256] [numeric](12, 2) NULL,
	[AAE100] [varchar](2) NULL,
	[AKC323] [varchar](100) NULL,
	[AKC324] [varchar](10) NULL,
	[AKC202] [varchar](20) NULL,
	[AKC400] [varchar](20) NULL,
	[AKC200] [varchar](2) NULL,
	[AKC198] [varchar](20) NULL,
	[AKC199] [varchar](20) NULL,
	[AKC350] [varchar](20) NULL,
	[AKC351] [varchar](20) NULL,
	[AKC352] [varchar](20) NULL,
	[AKC353] [varchar](20) NULL,
	[AKC354] [varchar](20) NULL,
	[AKC355] [varchar](20) NULL,
	[AKC356] [varchar](20) NULL,
	[AKC357] [varchar](20) NULL,
	[AKC358] [varchar](20) NULL,
	[AKC359] [varchar](20) NULL,
	[AKC360] [varchar](20) NULL,
	[AKC361] [varchar](20) NULL,
	[AKC362] [varchar](20) NULL,
	[AKC363] [varchar](20) NULL,
	[AKC364] [varchar](20) NULL,
	[AKC365] [varchar](20) NULL,
	[AKC366] [varchar](20) NULL,
	[AKC367] [varchar](20) NULL,
	[AKC368] [varchar](20) NULL,
	[AKC369] [varchar](20) NULL,
	[ExtractDate] [datetime] NULL,
	[AAC002] [varchar](20) NULL,
	[AAC003] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0014]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0014](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AKB020] [varchar](14) NULL,
	[AAE430] [varchar](18) NULL,
	[AKB148] [varchar](3) NULL,
	[AKA130] [varchar](3) NULL,
	[AKB082] [varchar](8) NULL,
	[AAE431] [varchar](3) NULL,
	[AKB140] [varchar](12) NULL,
	[AKB141] [varchar](12) NULL,
	[AKB142] [varchar](12) NULL,
	[AKB143] [varchar](18) NULL,
	[AKB144] [varchar](7) NULL,
	[AKB145] [varchar](12) NULL,
	[AKB146] [varchar](12) NULL,
	[AKB081] [varchar](12) NULL,
	[AKB147] [varchar](50) NULL,
	[AAE074] [varchar](18) NULL,
	[AAE011] [varchar](20) NULL,
	[AAE036] [datetime] NULL,
	[AAE030] [datetime] NULL,
	[AAE031] [datetime] NULL,
	[AKA129] [varchar](10) NULL,
	[AAE025] [datetime] NULL,
	[AAE026] [varchar](20) NULL,
	[AAE092] [datetime] NULL,
	[AAE093] [varchar](20) NULL,
	[AAE094] [datetime] NULL,
	[AAE095] [varchar](20) NULL,
	[AAE032] [varchar](20) NULL,
	[aab324] [varchar](8) NULL,
	[AAE117] [varchar](3) NULL,
	[ExtractDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB0016]    Script Date: 2016/10/24 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB0016](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AAE430] [varchar](18) NULL,
	[AKB144] [numeric](18, 2) NULL,
	[AKB147] [varchar](50) NULL,
	[AAE074] [varchar](18) NULL,
	[AAE025] [datetime] NULL,
	[AAE026] [varchar](20) NULL,
	[AAE092] [datetime] NULL,
	[AAE093] [varchar](20) NULL,
	[AAE094] [datetime] NULL,
	[AAE095] [varchar](20) NULL,
	[AAE032] [varchar](20) NULL,
	[AAE117] [int] NULL,
	[SendDate] [datetime] NULL,
	[SendParams] [varchar](1) NULL,
	[SendStatus] [int] NULL,
	[ADState] [int] NULL,
	[ErrMsg] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LGN] ON 

INSERT [dbo].[LGN] ([uid], [user_name], [password], [authority_level], [last_login_time]) VALUES (1, N'初审人', N'sa', 1, CAST(0x0000A6A900C3CACF AS DateTime))
INSERT [dbo].[LGN] ([uid], [user_name], [password], [authority_level], [last_login_time]) VALUES (2, N'复审人', N'sa', 9, CAST(0x0000A6A200AD275A AS DateTime))
INSERT [dbo].[LGN] ([uid], [user_name], [password], [authority_level], [last_login_time]) VALUES (3, N'审核人', N'sa', 10, CAST(0x0000A63600B8A357 AS DateTime))
SET IDENTITY_INSERT [dbo].[LGN] OFF
SET IDENTITY_INSERT [dbo].[TB0001] ON 

INSERT [dbo].[TB0001] ([ID], [AAC001], [AAC002], [AAC003], [AAC004], [AAC006], [AAE008], [AKC021], [AAB034], [ExtractDate], [AAC041]) VALUES (2, N'19821048', N'430121201211190149', N'肖轶菲', N'2', CAST(0x0000A10E00000000 AS DateTime), N'', N'43', N'430121', CAST(0x0000A66000000000 AS DateTime), N'01')
INSERT [dbo].[TB0001] ([ID], [AAC001], [AAC002], [AAC003], [AAC004], [AAC006], [AAE008], [AKC021], [AAB034], [ExtractDate], [AAC041]) VALUES (3, N'19220167', N'430121196402204845', N'周美先', N'2', CAST(0x00005B8100000000 AS DateTime), N'', N'41', N'430121', CAST(0x0000A66000000000 AS DateTime), N'02')
INSERT [dbo].[TB0001] ([ID], [AAC001], [AAC002], [AAC003], [AAC004], [AAC006], [AAE008], [AKC021], [AAB034], [ExtractDate], [AAC041]) VALUES (4, N'19495370', N'430121193411056422', N'刘再辉', N'2', CAST(0x000031B600000000 AS DateTime), N'1', N'42', N'430121', CAST(0x0000A66000000000 AS DateTime), N'01')
GO
SET IDENTITY_INSERT [dbo].[TB0001] OFF
SET IDENTITY_INSERT [dbo].[TB0004] ON 

GO
SET IDENTITY_INSERT [dbo].[TB0004] OFF
SET IDENTITY_INSERT [dbo].[TB0005] ON 

INSERT [dbo].[TB0005] ([ID], [akb020], [akb021], [aab003], [akb022], [aka101], [akb039], [aae100], [AAE008], [AAE009], [ExtractDate], [AAB324]) VALUES (1, N'43010150034', N'长沙县星沙社区卫生服务中心', N'', N'1', N'01', N'04', N'1', N'', N'', CAST(0x0000A65900000000 AS DateTime), N'430101')
INSERT [dbo].[TB0005] ([ID], [akb020], [akb021], [aab003], [akb022], [aka101], [akb039], [aae100], [AAE008], [AAE009], [ExtractDate], [AAB324]) VALUES (2, N'43010150037', N'长沙市望城区心脑血管病专科医院', N'76326682-7', N'1', N'01', N'01', N'1', N'雷锋农合行雷锋支行', N'', CAST(0x0000A65900000000 AS DateTime), N'430101')
INSERT [dbo].[TB0005] ([ID], [akb020], [akb021], [aab003], [akb022], [aka101], [akb039], [aae100], [AAE008], [AAE009], [ExtractDate], [AAB324]) VALUES (3, N'43012210004', N'长沙市望城区铜官中心卫生院', N'', N'1', N'01', N'04', N'1', N'', N'', CAST(0x0000A65900000000 AS DateTime), N'430101')
GO
SET IDENTITY_INSERT [dbo].[TB0005] OFF
SET IDENTITY_INSERT [dbo].[TB0011] ON 

SET IDENTITY_INSERT [dbo].[TB0011] OFF
SET IDENTITY_INSERT [dbo].[TB0012] ON 

GO
SET IDENTITY_INSERT [dbo].[TB0012] OFF
SET IDENTITY_INSERT [dbo].[TB0014] ON 

SET IDENTITY_INSERT [dbo].[TB0014] OFF
