<div style="position:absolute; top:0; right:0; bottom:0; left: 0; background-image: url('images/login-bg.png'); background-repeat: no-repeat; overflow: hidden"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="login-panel panel panel-default" style="display: none" user-login>
                <div class="panel-heading">
                    <h3 class="panel-title">用户登录</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="用户名" id="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" id="password" type="password">
                            </div>
                            <div class="form-group text-center">
                                <span id="message"></span>
                            </div>
                            <a class="btn btn-lg btn-success btn-block" id="login">登录</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>